@theme {
  /*========================================================
    C O L O R S
    Nota: Cada color tiene su contraparte on, (on) viene
    de la palabra sobre en inglés, es decir, que on será
    el color de texto que va is sobre un color determinado
  ========================================================*/
  /*========================================================
    PRIMARY COLORS
  ========================================================*/
  --color-primary-dk: #e3342f;
  --color-primary: #f6993f;
  --color-primary-lt: #ffed4a;

  /* Textos sobre primarios */
  --color-on-primary-dk: #ffffff;
  --color-on-primary: #ffffff;
  --color-on-primary-lt: #1f2937;


  /*==================================================
    SECONDARY COLORS
  ==================================================*/
  --color-secondary-dk: #38c172;
  --color-secondary: #4dc0b5;
  --color-secondary-lt: #3490dc;

  /* Textos sobre secundarios */
  --color-on-secondary-dk: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-secondary-lt: #ffffff;


  /*==================================================
    TERTIARY COLORS
  ==================================================*/
  --color-tertiary-dk: #6574cd;
  --color-tertiary: #9561e2;
  --color-tertiary-lt: #f66d9b;

  /* Textos sobre terciarios */
  --color-on-tertiary-dk: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-lt: #ffffff;


  /*==================================================
    BACKGROUND COLORS
  ==================================================*/
  --color-background: #f8fafc; /* Fondo principal */
  --color-surface: #f9f3ef;    /* Fondos de tarjetas o secciones */
  --color-outline: #f66d9b;    /* Bordes o divisores */

  /* Textos sobre fondos */
  --color-on-background: #0f172a;
  --color-on-surface: #1e293b;
  --color-on-outline: #ffffff;


  /*==================================================
    MESSAGE COLORS
  ==================================================*/
  --color-success: #22c55e;
  --color-info: #94a3b8;
  --color-error: #ef4444;

  /* Textos sobre mensajes */
  --color-on-success: #ffffff;
  --color-on-info: #ffffff;
  --color-on-error: #ffffff;
}

/* Aquí se le asigna a cada clase de color su respectivo ON o color de texto
  lo que asegura que solo colocando la clase de fondo se vean correctamente el texto*/
@layer base {
  /* BACKGROUND COLORS */
  .bg-background { @apply text-on-background }
  .bg-surface { @apply text-on-surface }
  .bg-outline { @apply text-on-outline }

  /* PRIMARY COLORS */
  .bg-primary-dk { @apply text-on-primary-dk }
  .bg-primary { @apply text-on-primary }
  .bg-primary-lt { @apply text-on-primary-lt }

  .bg-secondary-dk { @apply text-on-secondary-dk }
  .bg-secondary { @apply text-on-secondary }
  .bg-secondary-lt { @apply text-on-secondary-lt }

  .bg-tertiary-dk { @apply text-on-tertiary-dk }
  .bg-tertiary { @apply text-on-tertiary }
  .bg-tertiary-lt { @apply text-on-tertiary-lt }

    /* MESSAGE COLORS */
  .bg-success { @apply text-on-success }
  .bg-info { @apply text-on-info}
  .bg-error { @apply text-on-error }
}
